.container {
   padding: 2rem 0rem;
}

h4 {
   margin: 2rem 0rem 1rem;
}

.table-image{
   vertical-align: middle;
}

nav i {
   color:#a1887f !important;
}

nav a {
   color:#a1887f !important;
}

.navbar-custom {
   background-color: #fdffbc;
}

.container-picture {
   position:relative;
   text-align:center;
}

#slika {
   width:100%;
   height: auto;
   padding-top: 1px;
}

.welcome-text {
   position:absolute;
   bottom:110px;
   left:250px;
   font-size: 350%;
   color:#a1887f;
   text-shadow: 1px 1px black;
}

.center_div{
   margin: 0 auto;
   width:80%;
}

.input_width {
   width : 45%;
}

td{
   vertical-align: middle !important;
   text-align: center !important;
   font-size: 130%;
}

/*TABLE SORTING*/
/*
.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";	
}
.table-sortable .th-sort-desc::after {
	content: "\25be";	
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after{
	margin-left : 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0,0,0,0.1);
}*/

@media screen and (max-width: 600px) {
   .welcome-text {
      font-size: 170%;
      left: 20px;
      bottom: 10px;
   }

   .container{
      width:80%;
   }
}