<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Knjizara Zmaj</h5>
                <p>
                    U nasoj knjizari cete pronaci sve o cemu ste do sada mastali!
                    Budite spremni na iznenadjenja, kao i na velike popuste!
                </p>
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Lider u regionu</h5>
                <p>
                    Knjizara je osnovana 2019. godine i kao jedan od vodecih
                    lidera u regionu u maloprodaji, odlucili smo se prosiriti i na
                    internet! Vase omiljenje knjige na jednom mestu!
                </p>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: #fdffbc">
        © 2020 Copyright:
        <a class="text-dark">Ivke</a>
    </div>
</footer>