<div th:fragment="navbar-user">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand">Knjizara Zmaj</a>
            <div class="d-flex">
                <a class="nav item nav-link" th:href="@{/}">Home</a>
                <a class="nav item nav-link" th:href="@{/viewUserProfile}">View your profile</a>
                <a class="nav item nav-link" th:href="@{/korpa}">Korisnicka korpa</a>
                <a class="nav item nav-link" th:href="@{/userLoyaltyCard}">Loyalty kartica</a>
                <a class="nav item nav-link" th:href="@{/allWishes}">Lista zelja</a>
                <a class="nav item nav-link" th:href="@{/prikaziKupovine}">Istorija kupovina</a>
                <i class="fas fa-sign-out-alt fa-2x mt-1 ml-1"></i>
                <a class="nav item nav-link" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="navbar-admin">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
        <a class="navbar-brand">Knjizara Zmaj</a>
            <div class="d-flex">
                <a class="nav item nav-link" th:href="@{/}">Home</a>
                <a class="nav item nav-link" th:href ="@{/users}">User Menu</a>
                <a class="nav item nav-link" th:href="@{/obradiKomentar}">Komentari Menu</a>
                <a class="nav item nav-link" th:href="@{/adminLoyaltyCardMenu}">Loyalty Card Menu</a>
                <a class="nav item nav-link" th:href="@{/izvestaj}">Izvestavanje</a>
                <a class="nav item nav-link" th:href="@{/dodajPopust}">Specijalni Datumi</a>
                <i class="fas fa-sign-out-alt fa-2x mt-1 ml-1"></i>
                <a class="nav item nav-link" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="navbar-unreg-user">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand">Knjizara Zmaj</a>
            <div class="d-flex">
                <a class="nav item nav-link my-lg-0" th:href="@{/}">Home</a>
                <a class="nav item nav-link" th:href="@{/createUserForm}">Register</a>
                <i class="fas fa-sign-in-alt fa-2x mt-1 ml-1"></i>
                <a class="nav item nav-link" th:href="@{/login}">Login</a>
            </div>
        </div>
    </nav>
</div>
