<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Komentari Menu</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="styles.css" type="text/css" rel="stylesheet"/>
    <script src="sortTable.js"></script>
    <script src="isChecked.js"></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar-admin"></div>
<div th:replace="fragments/headerPicture"></div>

<div class="container table-responsive">
    <h1 class="text-center">Komentari koji cekaju odobrenje</h1>
    <table class="table table-image table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Ime korisnika</th>
            <th>Opis</th>
            <th>Ocena</th>
            <th>Odbij</th>
            <th>Odobri</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="komentar: ${listaKomentara}" th:unless="${komentar.status == 'odbijen'} or ${komentar.status == 'prihvacen'}">
            <td th:text="${komentar.korisnik.userName}"></td>
            <td th:text="${komentar.komentar}"></td>
            <td th:text="${komentar.ocena}"></td>
            <form th:action="@{/obrisiKomentar/{ID}(ID=${komentar.ID})}" method="post">
            <td><button class="btn btn-danger" type="submit">Obrisi</button></td>
            </form>
            <form th:action="@{/odobriKomentar/{ID}(ID=${komentar.ID})}" method="post">
            <td><button class="btn btn-outline-success" type="submit">Odobri</button></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>