<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Detalji kupovine</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="/styles.css" type="text/css" rel="stylesheet"/> <!--ne radi nikako ovde-->
</head>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:replace="fragments/topnav :: navbar-admin"></div>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    <div th:replace="fragments/topnav :: navbar-user"></div>
</div>
<div th:replace="fragments/headerPicture"></div>

<div class="d-flex justify-content-center container">

    <form>
        <div class="form-group">
            <h2 class="text-center">Detalji kupovine</h2>
        </div>
    <div class="form-group">
        <label for="username">Username</label>
        <span id="username" th:text="${kupovina.korisnik.userName}" class="form-control mb-4"></span>
    </div>
    <div class="form-group">
        <label for="datum">Datum kupovine</label>
        <input type="text" id="datum" th:field="*{kupovina.datumKupovine}" class="form-control mb-4" readonly>
    </div>
    <div class="form-group">
        <label for="broj">Broj kupljenih knjiga</label>
        <span th:text="${brojKnjiga}" id="broj" class="form-control mb-4"></span>
    </div>
    <div class="form-group">
        <label for="knjige">Kupljene knjige</label>
        <textarea th:text="${kupljeneKnjige}" id="knjige" class="form-control" readonly></textarea>
    </div></form>
</div>
<div th:replace="fragments/footer"></div>

</body>
</html>