<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="styles.css" type="text/css" rel="stylesheet"/>
    <script src="sortTable.js"></script>
    <script src="isChecked.js"></script>
</head>
<body>
<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/topnav :: navbar-admin"></div>
</div>
<div sec:authorize="hasRole('USER')">
    <div th:replace="fragments/topnav :: navbar-user"></div>
</div>
<div sec:authorize="!isAuthenticated()">
    <div th:replace="fragments/topnav :: navbar-unreg-user"></div>
</div>

<div th:replace="fragments/headerPicture"></div>
<div class="d-flex justify-content-center container" id="mainPageForm">
    <form action="#" th:action="@{/search}" method="get">
        <div class="form-row justify-content-center">
            <div class="col-auto">
                <input class="form-control mb-1 mt-1" type="search" placeholder="Pretraga po nazivu" aria-label="Search"
                       th:name="naziv">
            </div>
            <div class="col-auto">
                <input class="form-control mb-1 mt-1" type="search" placeholder="Pretraga po autoru" aria-label="Search"
                       th:name="autori">
            </div>
            <div class="col-auto">
                <input class="form-control mb-1 mt-1" type="search" placeholder="Pretraga po jeziku" aria-label="Search"
                       th:name="jezik_knjige">
            </div>
            <div class="col-auto">
                <input type="number" class="form-control mb-1 mt-1" placeholder="Min cena" th:name="min_cena">
            </div>
            <div class="col-auto">
                <input type="number" class="form-control mb-1 mt-1" placeholder="Max cena" th:name="max_cena">
                <input type="hidden" class="form-control mb-1 mt-1" placeholder="ISBN" th:name="ISBN">
            </div>

            <div class="form-row justify-content-center">
                <div class="col-auto" sec:authorize="hasRole('ADMIN')">
                    <input type="text" class="form-control mb-1 mt-1" placeholder="ISBN" th:name="ISBN">
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-success my-1" type="submit">Search</button>
                </div>
            </div>

            <form action="@{/index}">
                <div class="col-auto">
                    <button class="btn btn-outline-warning my-1" type="submit">Reset</button>
                </div>
            </form>
        </div>
    </form>
</div>
    <div class="d-flex justify-content-center">
        <form th:action="@{/filterByZanr}" method="get"
              onsubmit="return isAnythingSelected('zanrSelect')">
            <div class="form-group justify-content-center">
            <h4 class="text-centered">Filter po zanru:</h4>
            <select class="custom-select" size="5" multiple name="zanrID" id="zanrSelect">
                <option th:each="zanr : ${listZanr}" th:value="${zanr.id}" th:text="${zanr.naziv}"></option>
            </select>
            <button class="btn btn-outline-success mt-1" type="submit">Filter</button>
            </div>
        </form>
    </div>


<div class="container table-responsive">
    <h1 class="text-center">Sve knjige</h1>
    <div class="d-flex justify-content-center">
        <form sec:authorize="hasRole('ROLE_ADMIN')" method="get" th:action="@{/dodajKnjigu}">
            <button class="btn btn-primary mt-2 mb-2 btn-lg" type="submit">Dodaj knjigu</button>
        </form>
    </div>
    <table class="table table-image table-bordered table-sortable" id="bookTable">
        <thead class="thead-dark">
        <tr>
            <th>Slika korica</th>
            <th onclick="sortTable(1, 'bookTable')">Ime</th>
            <th onclick="sortTable(2, 'bookTable')">Cena</th>
            <th onclick="sortTable(3, 'bookTable')">Prosecna ocena</th>
            <th sec:authorize="hasAuthority('ROLE_ADMIN')">Kolicina</th>
        </tr>
        </thead>
        <tbody>
        <sec:authorize access="hasRole('ROLE_USER')" var="isUser"></sec:authorize>
        <tr th:each="book: ${listBooks}" th:unless="${book.kolicina == 0 and #authorization.expression('hasRole(''ROLE_USER'')')}">

            <td class="w-25">
                <img class="img-fluid img-thumbnail" th:src="@{${book.slika}}"></img>
            </td>
            <td><a th:href="@{/showDetails/{ISBN}(ISBN=${book.ISBN})}" th:text="${book.naziv}"></a></td>
            <td th:text="${book.cena}"></td>
            <td th:text="${book.prosecnaOcena}"></td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:text="${book.kolicina}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>