<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Istorija kupovina</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="fragments/topnav :: navbar-admin"></div>
<div sec:authorize="hasRole('ROLE_USER')" th:replace="fragments/topnav :: navbar-user"></div>
<div th:replace="fragments/headerPicture"></div>

<div class="container">
    <h1 class="text-center">Istorija korisnikovih kupovina</h1>

    <table class="table table-image table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Datum i vreme kupovine</th>
            <th>Ukupna cena kupovine</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="kupovina: ${listaKupovina}">
            <td><a th:href="@{/detaljiKupovine/{id}(id=${kupovina.idKupovine})}" th:text="${kupovina.datumKupovine}"></a></td>
            <td th:text="${kupovina.ukupnaCena}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>