<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Izvestavanje</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="styles.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready( function () {
            $('#izvestajTable').DataTable({
                paging: false,
                searching: false

            });

        } );
    </script>

</head>
<body>
<div th:replace="fragments/topnav :: navbar-admin"></div>
<div th:replace="fragments/headerPicture"></div>

<div class="container">
    <h1 class="text-center">Izvestaj</h1>
    <form action="#" th:action="@{/izvestaj}" method="post">
    <label for="startDate">Pocetni Datum</label>
    <input type="date" id="startDate" name="startDate" required>
    <label for="endDate">Krajnji datum</label>
    <input type="date" id="endDate" name="endDate" required>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <table class="table table-image table-bordered" id="izvestajTable">
        <thead class="thead-dark">
        <tr>
            <th data-orderable="false">Naziv knjige</th>
            <th data-orderable="false">Ime autora</th>
            <th>Broj prodatih primeraka</th>
            <th>Ukupna cena</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="izvestaj: ${izvestajList}">
            <td><a th:href="@{/showDetails/{ISBN}(ISBN=${izvestaj.isbn})}" th:text="${izvestaj.naziv}"></a></td>
            <td th:text="${izvestaj.autori}"></td>
            <td th:text="${izvestaj.ukupanBroj}"></td>
            <td th:text="${izvestaj.ukupnaCena}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="table-dark">
            <td></td>
            <td></td>
            <td th:text="${ukupanBrojKnjiga}"></td>
            <td th:text="${ukupnaCenaKnjiga}"></td>
        </tr>
        </tfoot>
    </table>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>