<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="styles.css" type="text/css" rel="stylesheet"/>
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
</head>
<body>
<script>
    $(function(){
        let rowCount = $('#bookTable tbody tr').length;
        if(rowCount === 0){
            document.getElementById("endButton").disabled = true;
        }
    });
</script>
<div th:replace="fragments/topnav :: navbar-user"></div>
<div th:replace="fragments/headerPicture"></div>

<div class="container">
    <h1 class="text-center">Korisnicka korpa</h1>

    <table class="table table-image table-bordered" id="bookTable">
        <thead class="thead-dark">
        <tr>
            <th>Slika korica</th>
            <th>Naziv</th>
            <th>Ukupna cena</th>
            <th>Broj porucenih primeraka</th>
            <th>Ukloni</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${listaKnjiga}">

            <td class="w-25">
                <img class="img-fluid img-thumbnail" th:src="@{${book.knjiga.slika}}"></img>
            </td>
            <td th:text="${book.knjiga.naziv}"></td>
            <td th:text="${book.cena}"></td>
            <td th:text="${book.brojPrimeraka}"></td>
            <td><form th:action="@{/izbrisiIzKorpe/{ID}(ID=${book.ID})}" method="post" onsubmit="return confirm('Da li ste sigurni?');">
                <button type="submit" class="btn btn-primary">Izbrisi</button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <div class="row align-items-center justify-content-center">
        <div class="col-auto">
        <h2 class="text-center">Ukupna cena:</h2>
            </div>
        <div class="col-auto">
        <h3 class="text-center mt-1 text-warning" th:text="${ukupnaCena}"></h3>
            </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <form th:action="@{/zavrsiKupovinu}" method="post">
        <button type="submit" class="btn btn-primary btn-lg" id="endButton" onclick="return confirm('Are you sure?');">Zavrsi kupovinu</button>
        </form>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>