<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin loyalty menu</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="styles.css" type="text/css" rel="stylesheet"/>
    <script src="confirmInput.js" type="text/javascript"></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar-user"></div>
<div th:replace="fragments/headerPicture"></div>

<div class="d-flex justify-content-center container">
    <form th:action="@{/iskoristiBodove}" onsubmit="return validateBodovi();" method="post">
        <h1 class="text-center">Vas broj bodova:</h1>
        <h1 class="text-center" id="ukupniBodovi" th:text="${bodovi}"></h1>
        <hr>
        <h1 class="text-center">Unesite broj bodova koje zelite da iskoristite(0 ako ne zelite):</h1>
        <div class="col-4">
        <input class="form-control" type="number" id="bodoviZaTrosenje" name="bodoviZaTrosenje" min="0" max="10" required>
        </div>
        <button class="btn btn-primary mt-2" type="submit">Akcija</button>
    </form>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>