<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin loyalty menu</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div sec:authorize="hasRole('ROLE_USER')" th:replace="fragments/topnav :: navbar-user"></div>
<div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="fragments/topnav :: navbar-admin"></div>
<div th:replace="fragments/headerPicture"></div>

<div class="container">
    <h1 class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">Admin Loyalty Card Menu</h1>
    <h1 class="text-center" sec:authorize="hasRole('ROLE_USER')">User Loyalty Card Menu</h1>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Korisnik</th>
            <th>Status</th>
            <th>Odobri</th>
            <th>Odbij</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="card: ${allCards}">
            <td th:text="${card.user.userName}"></td>
            <td th:text="${card.status}"></td>
            <td><form th:action="@{/odobriKarticu/{userName}(userName=${card.user.userName})}" method="post" onsubmit="return confirm('Da li ste sigurni?');">
                <button type="submit" class="btn btn-primary">Odobri</button>
            </form>
            </td>
            <td><form th:action="@{/odbijKarticu/{userName}(userName=${card.user.userName})}" method="post" onsubmit="return confirm('Da li ste sigurni?');">
                <button type="submit" class="btn btn-danger">Odbij</button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        <div th:if="${status} == 'nemaZahteva'">
            <form action="#" th:action="@{/requestCard}" method="post"><button class="btn btn-primary">Zatrazi karticu</button></form>
        </div>
        <div class="d-flex justify-content-center" th:if="${status} == 'odbijena' or ${status} == 'prihvacena' or ${status} == 'cekanje'">
            <h1 class="text-center">Status obrade vase kartice:</h1>
            <h1 th:text="${status}"></h1>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>