<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Kreiraj korisnika</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="styles.css" type="text/css" rel="stylesheet"/>
    <script src="validateForm.js" type="text/javascript"></script>
    <script src="confirmInput.js" type="text/javascript"></script>
</head>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:replace="fragments/topnav :: navbar-admin"></div>
</div>
<div sec:authorize="!isAuthenticated()">
    <div th:replace="fragments/topnav :: navbar-unreg-user"></div>
</div>
<div th:replace="fragments/headerPicture"></div>

<div class="d-flex justify-content-center container">
    <div class="input_width">
        <form action="#" th:action="@{/saveUser}" th:object="${user}" id="userCreateForm" method="post" onsubmit="return validateForm();">
            <h2 class="text-center">Kreiraj korisnika</h2>
            <hr>
            <input type="text" th:field="*{userName}" placeholder="Korisnicko ime" id="uName" class="form-control mb-4">
            <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
            <input type="password" th:field="*{password}" placeholder="Password" id="sifra" class="form-control mb-4">
            <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            <input type="email" th:field="*{email}" placeholder="Email" id="emailadresa" class="form-control mb-4">
            <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            <input type="text" th:field="*{ime}" placeholder="Ime" id="imeUser" class="form-control mb-4">
            <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('ime')}" th:errors="*{ime}"></p>


            <!--Ako se neko registruje,daj mu role user, ako je admin, daj mu select-->
            <div sec:authorize="!isAuthenticated()">
                <input th:type="hidden" name="roles" th:value="ROLE_USER"></input>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
            <label for="role_select">Izaberi ulogu korisnika:</label>
            <select th:field="*{roles}" id="role_select" class="form-control mb-4">
                <option value="0" selected>---</option>
                <option th:value="ROLE_USER" th:text="USER"></option>
                <option th:value="ROLE_ADMIN" th:text="ADMIN"></option>
            </select>
            </div>
            <input type="text" th:field="*{prezime}" placeholder="Prezime" id="prezimeKor" class="form-control mb-4">
            <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('prezime')}" th:errors="*{prezime}"></p>
            <label for="datum_rodj">Izaberi datum rodjenja:</label>
            <input type="date" th:field="*{datum_rodjenja}" id="datum_rodj" class="form-control mb-4">
            <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('datum_rodjenja')}"
               th:errors="*{datum_rodjenja}"></p>
            <input type="text" th:field="*{br_tel}" placeholder="Broj telefona" id="brojFon" class="form-control mb-4">
            <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('br_tel')}" th:errors="*{br_tel}"></p>
            <input type="text" th:field="*{adresa}" placeholder="Adresa" id="korisnikAdresa" class="form-control mb-4">
            <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('adresa')}" th:errors="*{adresa}"></p>
            <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-lg btn-info m-1">Kreiraj</button>
            <button type="reset" class="btn btn-lg btn-danger m-1">Reset</button>
            </div>
        </form>
    </div>
</div>







<div th:replace="fragments/footer"></div>
</body>
</html>