<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="success.css" type="text/css" />
    <title>Success Page</title>
</head>
<body>
<div id="root">
    <div class="container move">
        <div class="cat walking"></div>
    </div>
    <div class="sitemessage">
         <h1>Uspesno obavljena akcija!</h1>
    </div>
    <div class="sitemessage">
        <a class="btn btn-primary btn-lg" th:href="@{/}" role="button"><H1>NAZAD</H1></a>
    </div>
</div>
</body>
</html>