<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <title>Users Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" type="text/css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="/styles.css" type="text/css" rel="stylesheet"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/validateForm.js" type="text/javascript"></script>
    <script src="/confirmInput.js" type="text/javascript"></script>
</head>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:replace="fragments/topnav :: navbar-admin"></div>
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    <div th:replace="fragments/topnav :: navbar-user"></div>
</div>
<div th:replace="fragments/headerPicture"></div>

<div class="d-flex justify-content-center container">
    <div class="input_width">
    <h2 sec:authorize="hasRole('ROLE_USER')" class="text-center">Moj profil</h2>
    <h2 sec:authorize="hasRole('ROLE_ADMIN')" class="text-center">Izmeni korisnika</h2>
        <hr>
    <form action="#" th:action="@{/updateUser}" th:object="${user}" method="post" onsubmit="return validateForm();">
        <input type="hidden" th:field="*{id}"/>
        <label for="username">Username</label>
        <input type="text" id="username" th:field="*{userName}" class="form-control mb-4" readonly>
        <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></p>
        <label for="password">Password</label>
        <input type="text" th:field="*{password}" id="password" class="form-control mb-4" readonly>
        <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

        <label for="ime">Ime</label>
        <input type="text" th:field="*{ime}" id="ime" class="form-control mb-4" readonly>
        <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('ime')}" th:errors="*{ime}"></p>


        <div sec:authorize="hasRole('ROLE_USER')">
            <label for="role_select">User role</label>
            <select th:field="*{roles}" id="role_select" class="form-control mb-4" disabled>
                <option th:value="ROLE_USER" th:text="USER"></option>
                <option th:value="ROLE_ADMIN" th:text="ADMIN"></option>
            </select>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <label for="role_select">User role</label>
            <select th:field="*{roles}" id="role_select" class="form-control mb-4">
                <option th:value="ROLE_USER" th:text="USER"></option>
                <option th:value="ROLE_ADMIN" th:text="ADMIN"></option>
            </select>
        </div>


        <label for="prezime">Prezime</label>
        <input type="text" th:field="*{prezime}" id="prezime" class="form-control mb-4" readonly>
        <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('prezime')}" th:errors="*{prezime}"></p>

        <label for="datum_rodj">Datum rodjenja</label>
        <input type="date" th:field="*{datum_rodjenja}" id="datum_rodj" class="form-control mb-4" readonly>
        <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('datum_rodjenja')}"
           th:errors="*{datum_rodjenja}"></p>

        <label for="br_tel">Broj telefona</label>
        <input type="text" th:field="*{br_tel}" id="br_tel" class="form-control mb-4" readonly>
        <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('br_tel')}" th:errors="*{br_tel}"></p>

        <label for="adresa">Adresa</label>
        <input type="text" th:field="*{adresa}" id="adresa" class="form-control mb-4" readonly>
        <p class="alert alert-danger mb-4" th:if="${#fields.hasErrors('adresa')}" th:errors="*{adresa}"></p>

        <label for="datumreg">Datum i vreme registracije</label>
        <input type="text" th:field="*{datumvreme_registracije}" id="datumreg" class="form-control mb-4" readonly>

        <label for="email">Email</label>
        <input type="email" th:field="*{email}" id="email" class="form-control mb-4" readonly>


        <!--Ako editujemo admina, kupimo njegov status aktivan/neaktivan jer se ne sme menjati,ako kupimo usera
        pustamo select, ne uzimamo hidden field-->
        <div sec:authorize="hasRole('ROLE_ADMIN')">
        <input type="hidden" th:field="*{active}" th:unless="${user.getRoles().equals('ROLE_USER')}">

        <div th:unless="${user.getRoles().equals('ROLE_ADMIN')}">
            <label for="active_select">Active/Disabled</label>
            <select th:field="*{active}" id="active_select" class="form-control mb-4">
            <!-- disable select option if editable user is admin-->
            <option th:value="true" th:text="Active"></option>
            <option th:value="false" th:text="Disabled"></option>
            </select>
        </div>

            <button type="submit" class="btn btn-lg btn-info">Save</button>
        </div>
    </form>
        <a sec:authorize="hasRole('ADMIN')" class="btn btn-danger mt-2" th:href="@{/adminPrikaziKupovine/{userName}(userName=${user.userName})}">ISTORIJA KORISNIKOVIH KUPOVINA</a>
        </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>