<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Menu</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <!--PLUGIN TEST-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready( function () {
            $('#korisnikTable').DataTable();
        } );
    </script>

    <link href="styles.css" type="text/css" rel="stylesheet"/>
    <script src="sortTable.js"></script>
</head>

<div th:replace="fragments/topnav :: navbar-admin"></div>
<div th:replace="fragments/headerPicture"></div>
<body>
    <div class="container table-responsive">
        <h1 class="text-center">Svi korisnici</h1>
        <div class="d-flex justify-content-center">
        <a th:href="@{createUserForm}" class="btn btn-primary btn-lg mb-3 centered">Dodaj korisnika</a>
            </div>
        <table border="1" class="table table-bordered" id="korisnikTable">
            <thead class="thead-dark">
            <tr>
                <th>Username</th>
                <th>Datum registracije</th>
                <th>Uloga</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td><a th:href="@{/showFormForUpdate/{id}(id=${user.id})}" th:text="${user.getUserName()}"></a></td>
                <td th:text="${#temporals.format(user.getDatumvreme_registracije(), 'dd-MMM-yyyy HH:mm')}"></td>
                <td th:text="${user.getRoles()} == 'ROLE_ADMIN' ? 'Administrator' : 'Korisnik'"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer"></div>
</body>
</html>