<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista zelja</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/topnav :: navbar-user"></div>
<div th:replace="fragments/headerPicture"></div>

<div class="container">
    <h1 class="text-center">Lista zelja</h1>

    <table class="table table-image table-bordered" id="bookTable">
        <thead class="thead-dark">
        <tr>
            <th>Slika korica</th>
            <th>Naziv</th>
            <th>Ukloni</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wish: ${allWishes}">

            <td class="w-25">
                <img class="img-fluid img-thumbnail" th:src="@{${wish.knjiga.slika}}"></img>
            </td>
            <td><a th:href="@{/showDetails/{ISBN}(ISBN=${wish.knjiga.ISBN})}" th:text="${wish.knjiga.naziv}"></a></td>
            <td><form th:action="@{/deleteWish/{id_wish}(id_wish=${wish.id})}" method="post" onsubmit="return confirm('Da li ste sigurni?');">
                <button type="submit" class="btn btn-primary">Izbrisi</button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>